*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.task-box{
    overflow-y: scroll;
    height: 350px;
}
.tasks-div{
    width: 400px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.task-name{
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
}
.name{
    
}
.task-date{
    width: 23%;
    padding: 10px;
}
.date{
    display: block;
    text-align: center;
}